@font-face {
	font-family: visitor;
	src: url(visitor.ttf);
}

.visitor{
	font-family: visitor;
	color: #9c27b0;
}

.logo{
	font-size: 2.0rem;
}

.desc{
	font-size: 1.0rem;
}

.code-bg{
	background-color: #04243F;
}

.code-block{
	max-width: 800px;
	margin: 0 auto;
}

.main-code {
	img{
		width: 20%;
	}
}

.buttons-row div {
	height: 50px;
	padding-top: 20px !important;
}

.buttons-row .btn {
	width: 150px;
	background-color: #9c27b0;
}

@media (min-width: 600px){
	.logo{
		font-size: 4.0rem		
	}	

	.desc{
		font-size: 1.5rem		
	}
}
